.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{font-family: "Arial", "Meiryo", sans-serif;}


html{font-size: 20px;}

h1{font-size: 2rem;}

.text-color{color: skyblue;}

.text-color2{color: rgb(255, 192, 203);}

.pink{color: rgb(255, 192, 203);}

.skyblue{color: skyblue;}

body{text-align: center;}

.google-fonts{letter-spacing: 1.2em;}

.google-fonts{text-shadow: 2px 2px 4px gray;}

.google-fonts{border-bottom: solid 3px rgb(115, 115, 114);}

#basic p{font-weight: bold;}


